/* Estructura principal */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #cbdad5;
     
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contenido-principal {
    flex: 1;
    padding-top: 60px; /* Espacio para la navbar fija ya que traía problemas al mostrar contenido*/
    padding-bottom: 60px; /* Espacio para el footer */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #566981;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav-logo img{
    display: block;
    width: 4.4em;
    height: auto;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    padding: 25px;
}
nav ul li a{
    color: #cbdad5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav ul li:hover{
    background-color: #3a415a;
}

/* Footer */
footer{
    background-color: #566981;
    color: #cbdad5;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
    z-index: 1000;
    font-size: 14px;
}
footer a{
    color: #cbdad5;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

/* Formularios */
.formulario{
    color: #cbdad5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}
.formulario img{
    width: 15em;
    height: auto;
    margin-bottom: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.formulario a{
    color: #cbdad5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #566981;
    transition: background-color 0.3s ease;
}
.formulario a:hover{
    background-color: #cbdad5;
    color: #566981;
}
.formulario input[type="email"],
.formulario input[type="text"],
.formulario input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #566981;
    color: #cbdad5;
    box-sizing: border-box;
}
.formulario button[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #566981;
    color: #cbdad5;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    display: block;
}
.formulario button[type="submit"]:hover {
    background-color: #3a415a;
}
.formulario label{
    color: #566981;
    font-size: 18px;
    font-weight: bold;
}
.formulario h3 {
    color: #566981;
    margin-top: 20px;
    margin-bottom: 10px;
}
.boton-registro {
    margin-top: 10px;
}

.formulario-registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.campo-formulario {
    width: 48%;
    margin-bottom: 15px;
    box-sizing: border-box;
}

/*sobre-nosotros*/

.fondo-nosotros {
    background-image: url("../imagenes/fondo-nosotros.png");
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    height: 100%;
    margin-top: 50px;
    padding: 20px;
  
}

.sobre-nosotros {
    max-width: 800px;
    height: auto;
    margin: auto;
    margin-top: 50px;
    
    padding: 20px;
    text-align: center;
    background-color: #566981;

}
.sobre-nosotros h2{
    color: #cbdad5;
    margin-bottom: 5px;
}
.tarjetas {
    display: flex;
    justify-content: center;
    gap: 3px; 
    flex-wrap: wrap;
    

}
.tarjeta {
    height: 320px;
    width: 350px; 
    display: block;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #566981;
    margin-bottom: 20px;
    border-radius: 10px;
}
.tarjeta img {
    width: 50%; 
    height: 50%;
    border-radius: 50%; 
    object-fit: cover; 
}


