/* Estructura principal */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #cbdad5;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.contenido-principal {
    flex: 1;
    padding-top: 60px; /* Espacio para la navbar fija ya que traía problemas al mostrar contenido*/
    padding-bottom: 60px; /* Espacio para el footer */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
nav{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #566981;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav-logo img{
    display: block;
    width: 4.4em;
    height: auto;
}
nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline-block;
    padding: 25px;
}
nav ul li a{
    color: #cbdad5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}
nav ul li:hover{
    background-color: #3a415a;
}

/* Footer */
footer{
    background-color: #566981;
    color: #cbdad5;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: auto;
    z-index: 1000;
    font-size: 14px;
}
footer a{
    color: #cbdad5;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}

/* Formularios */
.formulario{
    color: #cbdad5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.formulario img{
    width: 15em;
    height: auto;
    margin-bottom: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.formulario a{
    color: #cbdad5;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    background-color: #566981;
    transition: background-color 0.3s ease;
}
.formulario a:hover{
    background-color: #cbdad5;
    color: #566981;
}
.formulario input[type="email"],
.formulario input[type="text"],
.formulario input[type="password"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #566981;
    color: #cbdad5;
}
.formulario button[type="submit"]{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #566981;
    color: #cbdad5;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.formulario button[type="submit"]:hover {
    background-color: #3a415a;
}
.formulario label{
    color: #566981;
    font-size: 18px;
    font-weight: bold;
}
.formulario h3 {
    color: #566981;
    margin-top: 20px;
    margin-bottom: 10px;
}
.boton-registro {
    margin-top: 10px;
}

.formulario-registro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}

.campo-formulario {
    width: 48%;
    margin-bottom: 15px;
}































































/* Dashboard agente */
.bienvenida-agente {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  padding: 10px 10px;
  color: #3a415a;
  background-color: #cbdad5;
}

.boton-reclamos {
  margin-left: auto;
  padding: 8px 12px;
  background-color: #34344e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.tabla-reclamos  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #3a415a;
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
}

.tabla-reclamos th{
    background-color: #566981;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid #ccc;
}

.tabla-reclamos td{
    border-top: 1px #3a415a solid;
    padding: 10px;
}

.boton-atender{
    background-color: #34344e;
    color: white;
    font-weight: bold;
    border: none;
    padding: 6px 10px;
    border-radius: 5px;   
    text-decoration: none; 
    display: inline-block;    
}

.formulario-agente {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formulario-agente h3{
    text-align: center;
    color: #3a415a;
}

.boton-guardar{
    padding: 10px;
    background-color: #34344e;
    color: white;
    border: none;
    border-radius: 5px;
}

.boton-reclamos:hover,
.boton-atender:hover,
.boton-guardar:hover {
  background-color: #89a7b1;
  color: #34344e;
  cursor: pointer;
}