.formulario-reclamo {
  background: linear-gradient(145deg, #424963, #363c52);
  width: 100%;
  max-width: 800px;
  margin: 3rem auto;
  padding: 2.5rem;
  box-sizing: border-box;
  box-shadow: 0 15px 35px rgba(0,0,0,0.5);
}

.formulario img{
  filter: drop-shadow(2px 2px 1px black);
}

.formulario label{
  color: white;
}

.boton-registro{
  background-color: #89a7b1;
  color: #3a415a;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.boton-registro:hover{
  background-color: #6c8a97;
  color: white;
  cursor: pointer;
  transform: scale(1.05);
}

.text-danger {
  background: #ffffff;
  padding: 2px 4px;
  border-radius: 4px;
}