<div class="container-fluid flex-grow-1">
  <div class="formulario formulario-reclamo tarjeta mt-5 mb-5">
    <img src="gri-full-logo.png" alt="Logo GRI" class="logo-gri img-fluid" />
    <br />

    @if (formMessage) {
    <div [ngClass]="{
        'alert alert-success': formMessage.includes('exitosamente'),
        'alert alert-danger': !formMessage.includes('exitosamente')
      }">
      {{ formMessage }}
    </div>
    }

    <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
      <div class="campo-formulario campo-completo">
        <label for="descripcion">Descripción del reclamo:</label><br />
        <textarea id="descripcion" formControlName="descripcion" rows="4"></textarea>
        @if (Descripcion?.errors && Descripcion?.touched) {
        @if (Descripcion?.hasError('required')) {
        <p class="text-danger">La descripción del reclamo es requerida.</p>
        }
        @else if (Descripcion?.hasError('minlength')) {
        <p class="text-danger">La descripción del reclamo debe tener al menos 8 caracteres.</p>
        }
        @else if (Descripcion?.hasError('maxlength')) {
        <p class="text-danger">La descripción del reclamo no debe exceder los 300 caracteres.</p>
        }
        }
      </div>

      <div class="campo-formulario campo-completo">
        <label for="prioridad">Prioridad:</label><br />
        <select id="prioridad" formControlName="prioridad">
          <option value="">Seleccione una opción</option>
          <option value="alta">Alta</option>
          <option value="media">Media</option>
          <option value="baja">Baja</option>
        </select>
        @if (Prioridad?.errors && Prioridad?.touched) {
        @if (Prioridad?.hasError('required')) {
        <p class="text-danger">La prioridad es requerida.</p>
        }
        }
      </div>

      <br />
      <button type="submit" class="btn btn-primary boton-registro">Enviar Reclamo</button>
    </form>
  </div>
</div>