<div class="container-fluid">
    <div class="formulario">
      <img src="gri-full-logo.png" alt="Logo GRI" class="logo-gri"/>
      <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <label for="username" class="form-label">Usuario(Email):</label>
            <input type="email" formControlName="email" class="form-control" id="username" name="username" required />
            <div>  
                @if (Email?.errors && Email?.touched) {
                    @if (Email?.hasError('required')){
                        <p class="text-danger">
                        El email es requerido.
                        </p>
                    }
                    @else if (Email?.hasError('email')){
                        <p class="text-danger">
                        El formato del email debe ser válido.
                        </p>
                    }
                }
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <label for="password" class="form-label">Contraseña:</label><br />
            <input type="password" formControlName="password" class="form-control" id="password" name="password" required />
            <div>  
                @if (Password?.errors && Password?.touched) {
                    @if (Password?.hasError('required')){
                        <p class="text-danger">
                        El password es requerido.
                        </p>
                    }
                }
            </div>
          </div>
        </div>
        <br />
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
      <h3>¿No tienes cuenta?</h3>
      <p class="boton-registro">
        <a routerLink="registro">Regístrate aquí</a>
      </p>
    </div>
  </div>